<div class="box-container">
  <span class="label-val">{{operand1}}</span>
  <span>{{symbolOperation}}</span>
  <span class="label-val">{{operand2}}</span>
  <span>=</span>
<!--  <input-->
<!--    [id]="'id-addition-' + position"-->
<!--    type="number"-->
<!--    pInputText-->
<!--    placeholder="???"-->
<!--    class="result-addition"-->
<!--    #result-->
<!--    [ngStyle]="{'color':result.value == (firstValue + secondValue).toString() ? 'green' : 'red' }"-->
<!--    (keyup.enter)="changeFocusNextInput()"-->
<!--    (input)="handleChangeResultValue(result.value)"-->
<!--  >-->
    <input
      [id]="'id-' + nameOperation + '-' + position"
      type="number"
      pInputText
      placeholder="???"
      class="result-addition"
      #result
      (input)="handleChangeResult(result.value)"
      [ngStyle]="{'color': isValidResult(result.value) ? 'green' : 'red' }"
      (keyup.enter)="changeFocusNextInput()"
  >
</div>
