<!--<p-card-->
<!--  header="Sumas"-->
<!--  [style]="{'width': '25rem', 'margin-bottom': '2em'}"-->
<!--  class="box-container"-->
<!--&gt;-->
<!--  <ng-template pTemplate="header">-->
<!--    <button-->
<!--      pButton-->
<!--      pRipple-->
<!--      type="button"-->
<!--      icon="pi pi-refresh"-->
<!--      class="p-button-rounded p-button-secondary p-button-text refresh-addition"-->
<!--      (click)="refreshLineAddition()"-->
<!--    ></button>-->
<!--  </ng-template>-->
<!--  <div *ngFor="let number of cantRows; let i = index" >-->
<!--    <app-line-addition-->
<!--      [refreshEvent]="refreshSubject.asObservable()"-->
<!--      [position]="i"-->
<!--      [levelEvent] = "levelSubject.asObservable()"-->
<!--      (newStateLineEvent) = "handleNewLineResult($event)"-->
<!--    ></app-line-addition>-->
<!--  </div>-->
<!--  <ng-template pTemplate="footer">-->
<!--    <p-dropdown-->
<!--      #selectLevels-->
<!--      [options]="levels"-->
<!--      [(ngModel)]="currentLevel"-->
<!--      optionLabel="name"-->
<!--      (onChange)="handleChangeLevel(selectLevels.value)"-->
<!--    >-->
<!--    </p-dropdown>-->
<!--    <div class="timer-container">-->
<!--      <p-inputSwitch [(ngModel)]="onTimer" (onChange)="switchTimer()"></p-inputSwitch>-->
<!--      <div class="timer-number"> {{timer}} </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-card>-->

<app-operation
  title="Sumas"
  [operandsGenerator] = "operandsGeneratorForAddition"
  [operationResultFn]= "operationResultFnForAddition"
  symbolOperation = "+"
  nameOperation= "addition"
  [lines]= 5
></app-operation>

