.box-container {
  margin: 10px;
}

.box-container ::ng-deep input{
  padding: 5px !important;
}

.box-container ::ng-deep .p-card .p-card-content {
  padding-top: 0;
}

.box-container .refresh-addition {
  position: absolute;
  right: 0;
}

.box-container ::ng-deep .p-card-header {
  position: relative;
}

@media only screen and (max-width: 420px)  {
  .box-container ::ng-deep .p-card {
    width: 100% !important;
  }

}
