<p-card
  header="Suma"
  [style]="{'width': '25rem', 'margin-bottom': '2em'}"
  class="box-container"
>
  <ng-template pTemplate="header">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-refresh"
      class="p-button-rounded p-button-secondary p-button-text refresh-addition"
      (click)="refreshLineAddition()"
    ></button>
  </ng-template>
  <div *ngFor="let number of cantLines; let i = index" >
    <app-line
      [refreshEvent]="refreshSubject.asObservable()"
      [position]="i"
    ></app-line>
  </div>
</p-card>
