<div class="box-container">
  <span class="label-val">{{firstValue}}</span>
  <span>x</span>
  <span class="label-val">{{secondValue}}</span>
  <span>=</span>
  <input
    [id]="'id-addition-' + position"
    type="number"
    pInputText
    placeholder="???"
    class="result-addition"
    #result
    [ngStyle]="{'color':result.value == (firstValue + secondValue).toString() ? 'green' : 'red' }"
    (keyup.enter)="changeFocusNextInput()"
    (input)="handleChangeResultValue(result.value)"
  >
</div>
